Repository tokens-studio/token-studio-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
    "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
    "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
    "*.md": ["prettier --write"],
    "package.json": ["npx prettier-package-json --write package.json"]
}

prod setup for sdk setApiKey config method
  src/api/configure.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

version upgrade
  package.json
Due: npx prettier-package-json --write package.json

changes default environment for setAPIKey
  src/api/configure.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Create spotty-melons-camp.md
  .changeset/spotty-melons-camp.md
Due: prettier --write

version upgrade redo
  package.json
Due: npx prettier-package-json --write package.json

add order index
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Prod setup for sdk setApiKey config method (#42)
  .changeset/spotty-melons-camp.md
  src/api/configure.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Changed env condition to be less next.js depend
  src/api/configure.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Changed env condition to be less next.js depend (#45)
  src/api/configure.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust federted signup config
  src/api/userAuth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjust federted signup config (#46)
  src/api/userAuth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rewrite config logic to be not depend on env variables
  src/api/configure.ts
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rewrite config logic to be not depend on env variables (#47)
  src/api/configure.ts
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Make theme group option accessible via api
  .changeset/giant-suns-begin.md
  schema.graphql
Due: prettier --write

add options
  schema.graphql
  src/aws-exports.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

changed federated signIn to use publicRuntimeConfig
  src/api/userAuth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

changed to dont use next imported feature
  src/api/userAuth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

changed federated signIn to use publicRuntimeConfig (#50)
  src/api/userAuth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

localhost federated signup fix
  src/api/userAuth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

localhost federated signup fix (#51)
  src/api/userAuth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

revert config
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[875] Add support for api calls of border tokens
  .changeset/young-drinks-poke.md
  schema.graphql
Due: prettier --write

[875] Add support for api calls of border tokens (#53)
  .changeset/young-drinks-poke.md
  schema.graphql
Due: prettier --write

Add support for generator
  .changeset/perfect-rivers-grab.md
  schema.graphql
Due: prettier --write

resend invitation schema
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

update types and schema
  schema.graphql
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

resend invitation schema (#57)
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format config
  src/api/configure.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format config (#59)
  src/api/configure.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add composition tokens
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
  src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Bulk delete tokens
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

adjusted param for query
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format
  src/api/userAuth.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

changed param to entity
  schema.graphql
  src/graphql/mutations.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

changed param to entity (#63)
  schema.graphql
  src/graphql/mutations.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Change tokeType to scalar
  schema.graphql
  src/graphql/mutations.ts
  src/graphqlTypes.ts
  src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rm TokenType
  src/api/mutation.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/cyan-balloons-thank.md
Due: prettier --write

fix schema
  schema.graphql
Due: none

generate types
  src/graphql/mutations.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
