Repository tokens-studio/token-studio-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
    "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
    "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
    "*.md": ["prettier --write"],
    "package.json": ["npx prettier-package-json --write package.json"]
}

Add token conversion utilities
  package.json
  src/index.ts
  src/utils/index.ts
  src/utils/removeNullProps.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Resync
  developer-docs/sync.md
  schema.graphql
  src/graphql/queries.ts
  src/graphqlTypes.ts
  src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: package.json to reduce vulnerabilities
  package.json
Due: npx prettier-package-json --write package.json

Add prettier config
  .prettierrc.json
Due: none

add prettier
  .prettierrc
  package.json
Due: npx prettier-package-json --write package.json

Generate types on schema changes
  package.json
  rollup.config.mjs
Due: npx prettier-package-json --write package.json

rm comment
  rollup.config.mjs
Due: none

[595] Fix update group schema
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update yarn.lock
  yarn.lock
Due: none

org tiers
  schema.graphql
  src/graphql/mutations.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: change SDConfigs functions prop type to string
  .changeset/clever-rice-fry.md
  schema.graphql
Due: prettier --write

fix: change SDConfigs functions prop type to string (#27)
  .changeset/clever-rice-fry.md
  schema.graphql
Due: prettier --write

fix: SDConfig create mutation param project vs urn
  .changeset/silly-glasses-decide.md
  schema.graphql
  src/graphql/mutations.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add admin queries
  schema.graphql
  src/aws-exports.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

revert config
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/moody-terms-itch.md
Due: prettier --write

fix: SDConfig create mutation param project vs urn (#29)
  .changeset/silly-glasses-decide.md
  schema.graphql
  src/graphql/mutations.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add org tiers - add queries and mutations (#26)
  .changeset/moody-terms-itch.md
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

[585]-fix-api-key-unauthorized-error
  schema.graphql
Due: none

lint format
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: revert faulty sdconfig schema change
  .changeset/cuddly-geese-impress.md
  schema.graphql
Due: prettier --write

[585] added missing decorators
  schema.graphql
Due: none

change reverse
  schema.graphql
Due: none

Add default to sdConfig
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

production setup
  src/api/configure.ts
  src/api/userAuth.ts
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

endpoint replace
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

graphql schema unify
  schema.graphql
Due: none

theme operations
  schema.graphql
  src/aws-exports.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

revert endpoint
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add secure
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

theme schema changes
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

options
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add varialbes
  schema.graphql
  src/graphql/mutations.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix name conflicts
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

endpoint fix
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
