Repository tokens-studio/token-studio-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
    "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
    "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
    "*.md": ["prettier --write"],
    "package.json": ["npx prettier-package-json --write package.json"]
}

Use changesets for release management
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --write, npx prettier-package-json --write package.json

Sync with api
  schema.graphql
  src/api/graphql.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Sync with remote
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update release and sync graphql
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Update releases
  .changeset/shaggy-pumas-know.md
  .github/workflows/release.yml
  GitVersion.yml
  package.json
Due: prettier --write, npx prettier-package-json --write package.json

Synchronize, add techdocs
  .changeset/nice-penguins-cry.md
  .github/workflows/release.yml
  .gitignore
  mkdocs.yml
  schema.graphql
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Fix: minor typos
  .github/workflows/release.yml
Due: none

typo
  .github/workflows/release.yml
Due: none

Setup index
  developer-docs/index.md
Due: prettier --write

Cleanup poor explicit nav
  mkdocs.yml
Due: none

Regenerate SDK
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add changeset
  .changeset/friendly-coins-bathe.md
Due: prettier --write

Synchronize
  schema.graphql
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add renovate.json
  renovate.json
Due: none

Synchronize
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Synchronize SDK
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Sync SDK
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Synchronize
  .eslintignore
  .eslintrc
  .prettierignore
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Sync
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Synchronize
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Sync
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: package.json to reduce vulnerabilities
  package.json
Due: npx prettier-package-json --write package.json

Add custom state param
  src/api/userAuth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Sync
  schema.graphql
  src/graphql/mutations.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Change to support latest yarn
  .gitignore
  package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

fix ci
  .github/workflows/pages.yml
  .github/workflows/pullRequest.yml
  .github/workflows/release.yml
Due: none

Enable corepack
  .github/workflows/pages.yml
  .github/workflows/pullRequest.yml
  .github/workflows/release.yml
Due: none

format
  server/main.tsx
  src/api/userAuth.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Add ts-node
  package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

fix .yarn link
  .yarnrc.yml
Due: none

fix tests
  src/api/configure.ts
  tests/suites/login.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update test
  .github/workflows/pullRequest.yml
Due: none

Revert "Add ts-node"
  package.json
  yarn.lock
Due: npx prettier-package-json --write package.json

Undo yarn 2
  .github/workflows/pages.yml
  .github/workflows/pullRequest.yml
  .github/workflows/release.yml
  .gitignore
  .yarnrc.yml
  package.json
  server/main.tsx
  yarn.lock
Due: npx prettier-package-json --write package.json

fix:
  .github/workflows/pages.yml
  .github/workflows/pullRequest.yml
Due: none

format
  package.json
  server/main.tsx
Due: npx prettier-package-json --write package.json

Add ci check for hooks installation
  package.json
Due: npx prettier-package-json --write package.json

Sync
  .changeset/giant-grapes-wave.md
  .eslintignore
  .eslintrc
  .prettierignore
  schema.graphql
  src/api/graphql.ts
  src/api/userAuth.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
