Repository tokens-studio/token-studio-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

.lintstagedrc:

{
    "*.js": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
    "*.ts": ["eslint --resolve-plugins-relative-to . --fix", "prettier --write"],
    "*.md": ["prettier --write"],
    "package.json": ["npx prettier-package-json --write package.json"]
}

newschema
  src/docs/operations.graphql
  src/schemas/mutations/org.graphql
  src/schemas/mutations/project.graphql
  src/schemas/queries/org.graphql
  src/schemas/queries/project.graphql
  src/schemas/queries/token.graphql
  src/schemas/schema.graphql
Due: none

cleanup and codegen
  codegen.yaml
  package.json
  src/api/graphql.ts
  src/api/index.ts
  src/api/mutation.ts
  src/api/subscription.ts
  src/api/userAuth.ts
  src/generated/graphql.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
  src/index.ts
  src/utils/index.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

graphql namespace refactor, added missing schemas
  src/api/graphql.ts
  src/api/subscription.ts
  src/generated/graphql.ts
  src/schemas/mutations/org.graphql
  src/schemas/mutations/token.graphql
  src/schemas/queries/token.graphql
  src/schemas/schema.graphql
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add queries and mutations for theme options
  schema.graphql
  src/aws-exports.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Allow editing of token types
  .changeset/sour-moons-laugh.md
  schema.graphql
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Allow editing of token types (#69)
  .changeset/sour-moons-laugh.md
  schema.graphql
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

format
  schema.graphql
Due: none

revert
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

rv
  src/aws-exports.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add changeset
  .changeset/cuddly-cows-buy.md
Due: prettier --write

Theme option changes
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Theme option changes (#71)
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

change type
  schema.graphql
Due: none

add changeset
  .changeset/famous-panthers-shake.md
Due: prettier --write

Update for k8s rebase
  package.json
  rollup.config.mjs
  src/api/configure.ts
  src/api/graphql.ts
  src/api/index.ts
  src/api/mutation.ts
  src/api/subscription.ts
  src/api/userAuth.ts
  src/graphql/queries.ts
  src/index.ts
  src/utils/index.ts
  tsconfig.json
  tsup.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Allow querying composition properties
  .changeset/green-cobras-study.md
  schema.graphql
Due: prettier --write

Allow querying composition properties (#74)
  .changeset/green-cobras-study.md
  schema.graphql
Due: prettier --write

Update Organization to return correct created property
  .changeset/fluffy-dolphins-switch.md
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update string filter input
  schema.graphql
Due: none

Revert created change
  schema.graphql
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Update changeset
  .changeset/fluffy-dolphins-switch.md
Due: prettier --write

Update Organization to return correct created property (#75)
  .changeset/fluffy-dolphins-switch.md
  schema.graphql
  src/graphql/queries.ts
  src/graphqlTypes.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

Overhaul
  .gitignore
  .graphqlconfig.yml
  catalog-info.yaml
  codegen.ts
  docker-compose.yml
  package.json
  reports/api/sdk.api.md
  schema.graphql
  src/__generated__/fragment-masking.ts
  src/__generated__/gql.ts
  src/__generated__/graphql.ts
  src/__generated__/index.ts
  src/api/apiKey.ts
  src/api/configure.ts
  src/api/graphql.ts
  src/api/index.ts
  src/api/mutation.ts
  src/api/query.ts
  src/api/userAuth.ts
  src/aws-exports.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
  src/index.ts
  src/schema.graphql
  src/utils/index.ts
  src/utils/removeNullProps.ts
  tsconfig.json
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

Add CLI, added typings
  bin/cli.js
  cypress.config.ts
  cypress/e2e/federated.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  developer-docs/contributing.md
  developer-docs/index.md
  developer-docs/sync.md
  mkdocs.yml
  package.json
  server/main.tsx
  src/__generated__/graphql.ts
  src/api/configure.ts
  src/api/graphql.ts
  src/api/userAuth.ts
  src/index.ts
  src/schema.graphql
  tests/suites/cli.test.ts
  tsup.config.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

update sdk for dynamic token sets
  src/__generated__/fragment-masking.ts
  src/__generated__/gql.ts
  src/__generated__/graphql.ts
  src/__generated__/index.ts
  src/schema.graphql
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

add order index
  src/__generated__/graphql.ts
  src/schema.graphql
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: legacy pkg json fields, bump formatter/linter
  .changeset/mean-taxis-chew.md
  .eslintrc
  package.json
  src/api/userAuth.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/graphqlTypes.ts
  yarn.lock
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

fix: uncommit lockfile, explicit peer deps
  .github/workflows/pages.yml
  .github/workflows/pullRequest.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc
  .npmrc
  .prettierignore
  .prettierrc
  docker-compose.yml
  package-lock.json
  package.json
Due: npx prettier-package-json --write package.json

Remove testing bearer token and format
  src/api/configure.ts
  src/api/graphql.ts
  src/api/userAuth.ts
  tests/suites/cli.test.ts
  tests/suites/public.test.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write

fix: codegen to generate compliant output
  .changeset/dry-buttons-applaud.md
  codegen.ts
  package.json
  src/__generated__/fragment-masking.ts
  src/__generated__/gql.ts
  src/__generated__/graphql.ts
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write, npx prettier-package-json --write package.json

update themes
  src/__generated__/graphql.ts
  src/schema.graphql
Due: eslint --resolve-plugins-relative-to . --fix, prettier --write
